{% extends "app/base.html" %}

{% block content %}

<div class="app">
  <header class="header">
    <h1>献立表</h1>
    <p>カレンダー</p>
  </header>

  <section class="calendar-section">

    <div class="calendar-header">
      <a href="#">＜</a>
      <span>2026年3月</span>
      <a href="#">＞</a>
    </div>

    <div class="calendar-grid">
      <div class="day-name">日</div>
      <div class="day-name">月</div>
      <div class="day-name">火</div>
      <div class="day-name">水</div>
      <div class="day-name">木</div>
      <div class="day-name">金</div>
      <div class="day-name">土</div>

      <div class="day muted">1</div>
      <div class="day muted">2</div>
      <div class="day">3</div>
      <div class="day">4</div>
      <div class="day today">5</div>
      <div class="day">6</div>
      <div class="day">7</div>

      <div class="day">8</div>
      <div class="day">9</div>
      <a href="/calendar_add/" class="day has-menu">
        10<br><span>オムライス</span></a>
      <div class="day">11</div>
      <div class="day">12</div>
      <div class="day">13</div>
      <div class="day">14</div>

      <div class="day">15</div>
      <div class="day">16</div>
      <div class="day">17</div>
      <div class="day">18</div>
      <div class="day">19</div>
      <div class="day">20</div>
      <div class="day">21</div>
    </div>

  </section>
</div>

{% endblock %}