{% extends "app/base.html" %}

{% block content %}

<div class="app">

  <header class="header">
    <h1>献立追加</h1>
  </header>

  <section>

    <form method="POST">
      {% csrf_token %}

      <input
      type="hidden"
      name="planned_date"
      value="{{ planned_date }}"
      >


      <h2>レシピを選択</h2>

      <input
        type="text"
        placeholder="レシピ検索"
      >

      <div class="calendar-recipe-list">

        {% for recipe in recipes %}

        <div class="calendar-recipe-item">

          <input
             type="checkbox"
             name="recipe_ids"
             value="{{ recipe.id }}"
             {% if recipe.id in selected_recipe_ids %}
                  checked
             {% endif %}
          >

          <a 
             href="{% url 'recipe_detail' recipe.id %}"
             class="recipe-link"
          >
            <div class="recipe-image">
                {% if recipe.image %}
                   <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">  
                {% else %}
                    <span class="no-image">🍳</span>
                {% endif %}
            </div>
            
            <p>{{ recipe.title }}</p>
          </a>
        </div>

        {% empty %}

        <p>レシピがありません</p>

        {% endfor %}

     
      </div>

      <button type="submit">
      追加
      </button>

    </form>
    </section>

</div>

{% endblock %}