{% extends "app/base.html" %}

{% block content %}

<div class="app">
  <header class="header">
    <h1>献立表</h1>
    <p>カレンダー</p>
  </header>

  <section class="calendar-section">

    <div class="calendar-header">
      <a href="?year={{ prev_year }}&month={{ prev_month }}">
        ＜</a>
      <span>{{ year }}年{{ month }}月</span>

      <a href="?year={{ next_year }}&month={{ next_month }}">
        ＞</a>
    </div>

    <div class="calendar-grid">
        <div class="day-name">日</div>
        <div class="day-name">月</div>
        <div class="day-name">火</div>
        <div class="day-name">水</div>
        <div class="day-name">木</div>
        <div class="day-name">金</div>
        <div class="day-name">土</div>


        {% for week in calendar_weeks %}
             {% for day in week %}

                <a
                    href="{% url 'calendar_add' %}?date={{ day.date|date:'Y-m-d' }}"
                    class="day {% if not day.is_current_month %}muted{% endif %} {% if day.is_today %}today{% endif %} {% if day.menus %}has-menu{% endif %}"
                >

                  {{ day.day }}

                  {% for menu in day.menus %}
                       <br>
                       <span>{{ menu.recipe.title }}</span>
                  {% endfor %}
                </a>
             {% endfor %}
        {% endfor %}

                




    </div>

    
  </section>
</div>


{% endblock %}