<div class="app">
  <header class="header">
    <h1>にこれぴbook</h1>
    <p>レシピ一覧</p>

     <link rel="stylesheet" href="/static/style.css">
  </header>

  <div class="search-box">
    <input type="text" placeholder="食材・レシピ名で検索">
    <button>🔍</button>
  </div>

  <button class="add-button">レシピを登録</button>

  <section class="ingredients">
    <h2>冷蔵庫にある食材</h2>
    <div class="tags">
      <span>卵</span>
      <span>キャベツ</span>
      <span>にんじん</span>
      <span>玉ねぎ</span>
      <span>なす</span>
      <span>鶏肉</span>
    </div>
  </section>

  <section class="recipes">
    <h2>レシピ一覧</h2>

    <div class="recipe-list">
      <div class="recipe-card">
        <div class="recipe-image">🍳</div>
        <p>シンプルオムライス</p>
      </div>

      <div class="recipe-card">
        <div class="recipe-image">🍗</div>
        <p>鶏肉と野菜炒め</p>
      </div>
    </div>
  </section>

  <nav class="bottom-nav">
    <a>🏠<br>ホーム</a>
    <a>🛒<br>買い物リスト</a>
    <a>📅<br>献立表</a>
    <a>👤<br>マイページ</a>
    <a>↩<br>ログアウト</a>
  </nav>
</div>

