{% extends "app/base.html" %}

{% block content %}

<div class="app">
  <header class="header">
    <h1>マイページ</h1>
  </header>

  {% if messages %}
    <div class="message-area">
      {% for message in messages %}
        <p class="message {{ message.tags }}">
          {{ message }}
        </p>
      {% endfor %}
    </div>
  {% endif %}

  <section class="mypage-section">

    <div class="profile-circle">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="プロフィール画像">
      {% else %}
        👤
      {% endif %}
    </div>

    <div class="profile-info">

      <p class="mypage-name">
        {{ request.user.username }}
      </p>

      <div class="mypage-info-card">

        <div class="mypage-info-row">
          <span class="mypage-info-label">家族構成</span>
          <span class="mypage-info-value">
            大人 {{ profile.adult_count }}人・こども {{ profile.child_count }}人
          </span>
        </div>

        <div class="mypage-info-row">
          <span class="mypage-info-label">メールアドレス</span>
          <span class="mypage-info-value">
            {{ request.user.email }}
          </span>
        </div>
      </div>


      <p class="mypage-edit-note">
        プロフィール画像・メールアドレス・パスワード・家族構成は、
        「マイページの編集」から変更できます。
      </p>
    
    </div>

    <a href="/mypage_edit/" class="mypage-button">
      マイページの編集
    </a>

    {#<a href="#" class="mypage-button">アカウント設定</a>#}

  </section>
</div>

{% endblock %}