{% extends "app/base.html" %}

{% block content %}

<div class="app">
  <header class="header">
    <h1>マイページ</h1>
  </header>

  <section class="mypage-section">

    <div class="profile-circle">
      👤
    </div>

    <div class="profile-info">
      <p><strong>ニックネーム</strong></p>
      <p>かじかな</p>

      <p><strong>家族構成</strong></p>
      <p>大人　2人</p>
      <p>こども　2人</p>
    </div>

    <a href="/mypage_edit/" class="mypage-button">
      マイページの編集
    </a>

    <a href="#" class="mypage-button">
      アカウント設定
    </a>

  </section>
</div>

{% endblock %}