{% extends "app/base.html" %}

{% block content %}

<div class="app">
  <header class="header">
    <h1>マイページ</h1>
  </header>

  <section class="mypage-section">

    <div class="profile-circle">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="プロフィール画像">
      {% else %}
        👤
      {% endif %}
    </div>

    <div class="profile-info">
      <p class="mypage-name">
        {{ request.user.username }}
      </p>

      <p><strong>家族構成</strong></p>
      <p>大人：{{ profile.adult_count }}人</p>
      <p>こども：{{ profile.child_count }}人</p>
    
    </div>

    <a href="/mypage_edit/" class="mypage-button">
      マイページの編集
    </a>

    {#<a href="#" class="mypage-button">アカウント設定</a>#}

  </section>
</div>

{% endblock %}