{% extends "app/base.html" %}

{% block content %}

<div class="app">

  <header class="header">
    <h1>レシピ詳細</h1>
  </header>

  <section class="recipe-detail-section">

    <div class="recipe-detail-image-box">
      {% if recipe.image %}
          <img
             src="{{ recipe.image.url }}"
             alt="{{ recipe.title }}"
             class="recipe-detail-image open-image"
          >
      {% else %}
       <span class="no-image">🍳</span>
      {% endif %}
    </div>

    <div class="recipe-sub-images">
      {% for recipe_image in recipe.images.all %}
        <div class="recipe-sub-image">
          <img
            src="{{ recipe_image.image.url }}"
            alt="{{ recipe.title }}"
            class="open-image"
          >
        </div>
      {% endfor %}
    </div>

    <h2 class="recipe-detail-title">{{ recipe.title }}</h2>

    <div class="recipe-detail-buttons">
     <button class="detail-main-button">
       献立に追加
     </button>

     <a href="{% url 'recipe_edit' recipe.id %}" class="detail-sub-button">
      レシピを編集
     </a>

     <a href="{% url 'recipe_delete' recipe.id %}" class="detail-delete-button">
      レシピを削除
     </a>

    </div>

    <h2 class="detail-section-title">材料</h2>

    <div class="ingredient-detail-list">
      {% for ingredient in ingredients %}
        <div class="ingredient-detail-item">
          <span class="ingredient-detail-name">
            {{ ingredient.name }}
          </span>

          <span class="ingredient-detail-amount">
            {{ ingredient.calculated_quantity }}{{ ingredient.unit }}
            <small>({{ ingredient.amount }}{{ ingredient.unit }})</small>
          </span>

        </div>

      {% endfor %}
    </div>

    <h2 class="detail-section-title">参考URL</h2>

    <p class="recipe-url">
        {{ recipe.reference_url }}
    </p>

    <h2 class="detail-section-title">メモ</h2>

    <div class="memo-box">
       {{ recipe.memo|linebreaksbr}} 
    </div>


  </section>

  <div id="image-modal" class="image-modal">
    <img id="modal-image" src="" alt="拡大画像">
  </div>


  <script>
    const imageModal = document.getElementById('image-modal');
    const modalImage = document.getElementById('modal-image');
    const openImages = document.querySelectorAll('.open-image');

    openImages.forEach(function(image) {
      image.addEventListener('click', function() {
        modalImage.src = this.src;
        imageModal.classList.add('show');
      });
    });

    imageModal.addEventListener('click', function() {
      imageModal.classList.remove('show');
      odalImage.src = '';
    });
  </script>


</div>

{% endblock %}