{% extends "app/base.html" %}

{% block content %}

<div class="app">

  <header class="header">
    <h1>レシピ登録</h1>
  </header>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  
  <section class="recipe-form">

    <label>メイン画像</label>

    <label class="main-image-upload">
      <input type="file" name="image" id="main-image-input">
      <span id="main-image-text">画像を挿入</span>
      <img id="main-image-preview" src="" alt="メイン画像プレビュー">
    </label>

    <label>追加画像</label>

    <div id="image-input-area">
      <label class="sub-image-upload">
        <input type="file" name="images" class="sub-image-input">
        <span>+</span>
        <img src="" alt="追加画像プレビュー">
      </label>

    </div>

    <button type="button" id="add-image-button" class="add-image-button">
      画像を追加
    </button>

    <label>タイトル</label>
    <input type="text"
           name="title"
           placeholder="例）シンプルオムライス">

    <div class="serving-row">
      <span>何人分？</span>

      <select name = "servings">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>

      <span>人分</span>
    </div>

    <h2>材料</h2>
    <div id="ingredient-list">

      <div class="ingredient-item">
        <input
         type="text"
         name="ingredient_name"
         placeholder="材料名">

        <input
         type="text"
         name="ingredient_amount"
         placeholder="分量">

        <input
        type="text"
        name="ingredient_unit"
        placeholder="単位"
        >

        <div class="ingredient-options">
           <label>
             <input
               type="checkbox"
               name="is_integer_only"
               value="0">
             小数点なし
           </label>
        </div>
      
      </div>

      <div class="ingredient-item">
        <input
         type="text"
         name="ingredient_name"
         placeholder="材料名">

        <input
         type="text"
         name="ingredient_amount"
         placeholder="分量">

        <input
        type="text"
        name="ingredient_unit"
        placeholder="単位"
        >

        <div class="ingredient-options">
          <label>
            <input
              type="checkbox"
              name="is_integer_only"
              value="1"
            >
            小数点なし
          </label>
        </div>
      </div>

    </div>

    <button
      type="button"
      id="add-ingredient-button"
      class="add-button"
      >
    ＋材料を追加
    </button>

    <label>参考URL</label>
    <input type="url" name="reference_url"
    placeholder="https://example.com">

    <label>メモ</label>

    <textarea
      name="memo"
      rows="5"
      placeholder="作り方メモ"
    >
    </textarea>

    <button type="submit" class="save-button">
      レシピを保存
    </button>

  </section>

</form>

</div>

<script>
document.getElementById("add-ingredient-button").addEventListener("click", function() {

    const ingredientList = document.getElementById("ingredient-list");

    const newIngredient = document.createElement("div");

    newIngredient.className = "ingredient-item";

    const ingredientIndex = document.querySelectorAll(".ingredient-item").length;
    
    newIngredient.innerHTML = `
        <input
         type="text"
         name="ingredient_name"
         placeholder="材料名">

        <input type="text"
         name="ingredient_amount"
         placeholder="分量">

        <input
         type="text"
         name="ingredient_unit"
         placeholder="単位">

        <div class="ingredient-options">
         <label>
          <input
           type="checkbox"
           name="is_integer_only"
           value="${ingredientIndex}"
          >
          小数点なし
         </label>
        </div>

    `;

    ingredientList.appendChild(newIngredient);

});
</script>

<script>
  const addImageButton = document.getElementById('add-image-button');
  const imageInputArea = document.getElementById('image-input-area');

  function setSubImagePreview(input) {
    input.addEventListener('change', function() {
      const file = this.files[0];
      const uploadBox = this.closest('.sub-image-upload');
      const previewImage = uploadBox.querySelector('img');

      if (file) {
        previewImage.src = URL.createObjectURL(file);
        uploadBox.classList.add('has-image');
      }
    });
  }

  document.querySelectorAll('.sub-image-input').forEach(function(input) {
    setSubImagePreview(input);
  });

  addImageButton.addEventListener('click', function() {
    const newLabel = document.createElement('label');
    newLabel.className = 'sub-image-upload';

    newLabel.innerHTML = `
      <input type="file" name="images" class="sub-image-input">
      <span>＋</span>
      <img src="" alt="追加画像プレビュー">
    `;

    imageInputArea.appendChild(newLabel);

    const newInput = newLabel.querySelector('.sub-image-input');
    setSubImagePreview(newInput);
  });
</script>


<script>
  const mainImageInput = document.getElementById('main-image-input');
  const mainImagePreview = document.getElementById('main-image-preview');
  const mainImageUpload = document.querySelector('.main-image-upload');

  mainImageInput.addEventListener('change', function() {
    const file = this.files[0];

    if (file) {
      mainImagePreview.src = URL.createObjectURL(file);
      mainImagePreview.style.display = 'block';
      mainImageUpload.classList.add('has-image');
    }
  });
</script>
{% endblock %}