{% extends 'app/base.html' %}

{% block content %}

<div class="app">

    <header class="header">
        <h1>レシピ編集</h1>
    </header>

    <section>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>メイン画像</label>

            {% if recipe.image %}
              <div class="edit-current-image">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
              </div>
            {% endif%}

            <input type="file" name="image"> 

            <p>
                タイトル<br>
                <input type="text" name="title" value="{{ recipe.title }}" class="form-input">
            </p>

            <p>
                人数<br>
                <input type="number" name="servings" value="{{ recipe.servings }}" class="form-input">
            </p>

            <p>
                材料<br>
                
                {% for ingredient in ingredients %}
         
                    <div class="ingredient-item">
                        <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                        <input type="text" name="ingredient_name" value="{{ ingredient.name }}" placeholder="材料名">
                        <input type="text" name="ingredient_amount" value="{{ ingredient.amount }}" placeholder="分量">
                        <input type="text" name="ingredient_unit" value="{{ ingredient.unit }}" placeholder="単位">

                        
                        <div class="ingredient-options">
                          <label>
                            <input
                              type="checkbox"
                              name="is_integer_only"
                              value="{{ ingredient.id }}"
                              {% if ingredient.is_integer_only %}checked{% endif %}
                            >
                            小数点なし
                          </label>
                          
                          <label>
                            <input
                              type="checkbox"
                              name="delete_ingredient_id"
                              value="{{ ingredient.id }}"
                            >
                            削除
                          </label>

                        </div>   
                     
                    </div>

                {% endfor %}

                    <div id="new-ingredient-list"></div>

                    <button
                    type="button"
                    id="add-ingredient-button">
                    ＋材料を追加
                    </button>

                    <script>
                    document
                    .getElementById("add-ingredient-button")
                    .addEventListener("click", function() {

                        const ingredientList =
                          document.getElementById("new-ingredient-list");

                        const newIngredient =
                          document.createElement("div");

                          newIngredient.className = "ingredient-item";

                        const newIngredientIndex =
                          document.querySelectorAll("#new-ingredient-list .ingredient-item").length;
                        
                        newIngredient.innerHTML = `
                            <input
                             type="text"
                             name="new_ingredient_name"
                             placeholder="材料名">

                            <input
                             type="text"
                             name="new_ingredient_amount"
                             placeholder="分量">

                            <input
                             type="text" 
                             name="new_ingredient_unit"
                             placeholder="単位">

                            <div class="ingredient-options">
                                <label>
                                   <input
                                       type="checkbox"
                                       name="new_is_integer_only"
                                       value="${newIngredientIndex}">
                                   小数点なし
                                </label>
                            
                            </div>


                        `;

                        ingredientList.appendChild(newIngredient);
                    });
                    </script>

               
            </p>

            <p>
                参考URL<br>
                <input type="url" name="reference_url" value="{{ recipe.reference_url }}" class="form-input">
            </p>

            <p>
                メモ<br>
                <textarea name="memo" rows="5" class="form-input">{{ recipe.memo }}</textarea>
            </p>

            <button type="submit" class="add-button">保存する</button>
        </form>
    </section>

</div>

{% endblock %}