{% extends "app/base.html" %}

{% block content %}

<div class="app">

  <header class="header">
    <h1>レシピ詳細</h1>
  </header>

  <section>

    <div class="recipe-image">
      🍳
    </div>

    <h2>{{ recipe.title }}</h2>

    <button class="add-button">
      献立に追加
    </button>

    <button class="add-button">
      レシピを編集
    </button>

    <h2>材料</h2>

    <p>{{ recipe.ingredients|linebreaksbr }}</p>

    <h2>作り方</h2>

    <p>{{ recipe.steps|linebreaksbr }}</p>

    <p class="recipe-url">
        参考URL：
        {{ recipe.reference_url }}
    </p>

    <textarea class="memo-box">
       {{ recipe.memo }} 
    </textarea>


  </section>

</div>

{% endblock %}