{% extends 'app/base.html' %}

{% block content %}

<div class="app">

    <header class="header">
        <h1>レシピ編集</h1>
    </header>

    <section class="recipe-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if messages %}
              {% for message in messages %}
                <p class="error-message">
                  {{ message }}
                </p>
              {% endfor %}
            {% endif %}



            <label>メイン画像</label>

            <label class="main-image-upload">
              <input type="file" name="image" id="edit-main-image-input">

              {% if recipe.image %}
                <img
                 id="edit-main-image-preview"
                 src="{{ recipe.image.url }}"
                 alt="{{ recipe.title }}"
                >
                <span id="edit-main-image-text" style="display: none;">
                  画像を挿入
                </span>
              {% else %}
                <img
                 id="edit-main-image-preview"
                 src=""
                 alt="メイン画像プレビュー"
                >
                <span id="edit-main-image-text">画像を挿入</span>
              {% endif %}
            </label>

           {% if recipe.image %}
             <label class="image-delete-check">
               <input type="checkbox" name="delete_main_image">
               メイン画像を削除
             </label>
           {% endif %} 

           
            <label>追加画像</label>

            {% if recipe.images.all %}
              <div class="edit-sub-images">
                {% for recipe_image in recipe.images.all %}
                  <div class="edit-sub-image-item">
                    <img src="{{ recipe_image.image.url }}" alt="{{ recipe.title }}">

                    <label class="image-delete-check">
                      <input
                        type="checkbox"
                        name="delete_sub_image_ids"
                        value="{{ recipe_image.id }}"
                      >
                      削除
                    </label>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <div id="edit-image-input-area">
              <label class="sub-image-upload">
                <input type="file" name="images" class="edit-sub-image-input">
                <span>+</span>
                <img src="" alt="追加画像プレビュー">
              </label>
            </div>


            <p>
                タイトル<br>
                <input type="text" name="title" value="{{ recipe.title }}" class="form-input" required>
            </p>

            <p>
                人数<br>
                <input type="number" name="servings" value="{{ recipe.servings }}" class="form-input">
            </p>

            <p>
                材料<br>
                
                {% for ingredient in ingredients %}
         
                    <div class="ingredient-item">
                        <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                        <input type="text" name="ingredient_name" value="{{ ingredient.name }}" placeholder="材料名">
                        <input type="text" name="ingredient_amount" value="{{ ingredient.amount }}" placeholder="分量">
                        <input type="text" name="ingredient_unit" value="{{ ingredient.unit }}" placeholder="単位">

                        
                        <div class="ingredient-options">
                          <label>
                            <input
                              type="checkbox"
                              name="is_integer_only"
                              value="{{ ingredient.id }}"
                              {% if ingredient.is_integer_only %}checked{% endif %}
                            >
                            整数で表示
                          </label>
                          
                          <label>
                            <input
                              type="checkbox"
                              name="delete_ingredient_id"
                              value="{{ ingredient.id }}"
                            >
                            削除
                          </label>

                        </div>   
                     
                    </div>

                {% endfor %}

                    <div id="new-ingredient-list"></div>

                    <button
                    type="button"
                    id="add-ingredient-button">
                    ＋材料を追加
                    </button>

                    <script>
                    document
                    .getElementById("add-ingredient-button")
                    .addEventListener("click", function() {

                        const ingredientList =
                          document.getElementById("new-ingredient-list");

                        const newIngredient =
                          document.createElement("div");

                          newIngredient.className = "ingredient-item";

                        const newIngredientIndex =
                          document.querySelectorAll("#new-ingredient-list .ingredient-item").length;
                        
                        newIngredient.innerHTML = `
                            <input
                             type="text"
                             name="new_ingredient_name"
                             placeholder="材料名">

                            <input
                             type="text"
                             name="new_ingredient_amount"
                             placeholder="分量">

                            <input
                             type="text" 
                             name="new_ingredient_unit"
                             placeholder="単位">

                            <div class="ingredient-options">
                                <label>
                                   <input
                                       type="checkbox"
                                       name="new_is_integer_only"
                                       value="${newIngredientIndex}">
                                   整数で表示
                                </label>
                            
                            </div>


                        `;

                        ingredientList.appendChild(newIngredient);
                    });
                    </script>

               
            </p>

            <p>
                参考URL<br>
                <input type="url" name="reference_url" value="{{ recipe.reference_url }}" class="form-input">
            </p>

            <p>
                メモ<br>
                <textarea name="memo" rows="5" class="form-input">{{ recipe.memo }}</textarea>
            </p>

            <button type="submit" class="add-button">保存する</button>
        </form>
    </section>

    <script>
      const editMainImageInput = document.getElementById('edit-main-image-input');
      const editMainImagePreview = document.getElementById('edit-main-image-preview');
      const editMainImageUpload = document.querySelector('.main-image-upload');
      const editMainImageText = document.getElementById('edit-main-image-text');

      editMainImageInput.addEventListener('change',function(){
        const file = this.files[0];

        if (file) {
          editMainImagePreview.src = URL.createObjectURL(file);
          editMainImagePreview.style.display = 'block';
          editMainImageUpload.classList.add('has-image');
          editMainImageText.style.display = 'none';
        }
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const editSubImageInputArea =
          document.getElementById("edit-image-input-area");

        function addNewEditSubImageInput() {
          const newLabel = document.createElement("label");
          newLabel.className = "sub-image-upload";

          newLabel.innerHTML = `
            <input
              type="file"
              name="images"
              class="edit-sub-image-input"
              accept="image/*"
            >
            <span>＋</span>
            <img src="" alt="追加画像プレビュー">
         `;

         editSubImageInputArea.appendChild(newLabel);

         const newInput =
           newLabel.querySelector(".edit-sub-image-input");

         setEditSubImagePreview(newInput);
      }

      function setEditSubImagePreview(input) {
        input.addEventListener("change", function () {
          const file = this.files[0];

          if (!file) {
            return;
          }

          const uploadBox =
            this.closest(".sub-image-upload");

          const previewImage =
            uploadBox.querySelector("img");

          previewImage.src =
            URL.createObjectURL(file);

          uploadBox.classList.add("has-image");

          const allInputs =
            editSubImageInputArea.querySelectorAll(
              ".edit-sub-image-input"
          );

          const lastInput =
            allInputs[allInputs.length - 1];

          if (this === lastInput) {
            addNewEditSubImageInput();
          }
      });
    }

    const firstInputs =
      editSubImageInputArea.querySelectorAll(
        ".edit-sub-image-input"
      );

      firstInputs.forEach(function (input) {
        setEditSubImagePreview(input);
      });
     });
    </script>

</div>

{% endblock %}