{% extends "app/base.html" %}

{% block content %}

<div class="app">
  <header class="header">
    <h1>買い物リスト</h1>
  </header>

  <section class="shopping-section">
    <p class="section-label">期間を選択</p>

    <form method="GET">
      <div class="date-range">
        <input
           type="date"
           name="start_date"
           value="{{ start_date }}"
        >

        <span>〜</span>

        <input
           type="date"
           name="end_date"
           value="{{ end_date }}"
        >
      </div>

      <button type="submit" class="shopping-button">
        表示
      </button>
    </form>

    

    <ul class="shopping-list">

      {% for item in shopping_items %}

      <li>
        <input
            type="checkbox"
            data-item-id="{{ item.id }}"
            {% if item.is_checked %}checked{% endif %}
            >

        <span>{{ item.name }}</span>

        <span class="amount">
          {{ item.display_quantity }}{{ item.unit }}
        </span>
      </li>

      {% empty %}

      <li class="empty-message">
        買い物リストはありません
      </li>

      {% endfor %}

    
    </ul>
  </section>
</div>

<script>
  document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox){

    checkbox.addEventListener('change', function(){
       
       const itemId = this.dataset.itemId;

       fetch(`/shopping-item/${itemId}/toggle/`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
          });
    });
  });
</script>


{% endblock %}