<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>新規登録</title>

  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="app-container">
    <h2>新規登録画面</h2>

    <div class="profile-image">
      ＋
    </div>

    <form>
      <label>ニックネーム</label>
      <input type="text" placeholder="かな">

      <p>家族構成</p>

      <label>大人</label>
      <select>
        <option>1</option>
        <option selected>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
      人

      <br>

      <label>こども</label>
      <select>
        <option>0</option>
        <option>1</option>
        <option selected>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
      人

      <label>メールアドレス</label>
      <input type="email" placeholder="例）abcdefg@cook.com">

      <label>パスワード</label>
      <input type="password">

      <label>パスワード（確認用）</label>
      <input type="password">

      <button type="submit">アカウントを登録する</button>
    </form>
  </div>
</body>
</html>