{% extends "app/base.html" %}

{% block content %}


  <div class="app-container">
    <h2>新規登録画面</h2>

    <div class="profile-image">
      ＋
    </div>

    <form action="" method="post">
      {% csrf_token %}
      <label>ニックネーム</label>
      <input type="text" name="username" placeholder="かな">

      <p>家族構成</p>

      <label>大人</label>
      <select>
        <option>1</option>
        <option selected>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
      人

      <br>

      <label>こども</label>
      <select>
        <option>0</option>
        <option>1</option>
        <option selected>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
      人

      <label>メールアドレス</label>
      <input type="email" name="email" placeholder="例）abcdefg@cook.com">

      <label>パスワード</label>
      <input type="password" name="password">

      <label>パスワード（確認用）</label>
      <input type="password">

      <button type="submit">アカウントを登録する</button>
    </form>
  </div>

  {% endblock %}